@charset "utf-8";
body {
	background-color: #f9f9f9;
}

.relative {
	position: relative;
}

.container {
	width: 1180px;
}

.goods_left {
	text-align: center;
	padding: 0;
	height: 100%;
}

.goods_right {
	background-color: #fff;
	border-left: 1px solid #cccccc;
	height: 100%;
	box-shadow: -6px 0px 6px -1px rgba(3, 3, 3, 0.1);
}

.goods_left .box {
	margin: 10px 0 20px;
	width: 110px;
	height: 110px;
	text-align: center;
	display: inline-block;
	border: 1px solid #dddddd;
	border-radius: 16px;
	box-shadow: 0px 0px 3px 4px rgba(3, 3, 3, 0.1);
}

.goods_left .box img {
	display: block;
	padding: 10px 0 5px;
	margin: 0 auto;
}

.goods_left ul {
	margin: 0;
	padding: 0;
	font-size: 14px;
	list-style: none;
}

.goods_left ul li a {
	height: 34px;
	line-height: 34px;
	text-align: center;
	color: #737878;
	width: 100%;
	margin: 1px 0;
	display: block;
	border-left: 4px solid #f9f9f9;
}

.goods_left ul li a.active {
	border-bottom: 1px solid #cccccc;
	border-top: 1px solid #cccccc;
	border-left: 4px solid #27a9e3;
	background-color: #fff;
}

.goods_left ul li a:hover {
	text-decoration: none;
	border-bottom: 1px solid #cccccc;
	border-top: 1px solid #cccccc;
	border-left: 4px solid #27a9e3;
	background-color: #fff;
}

.goods_right .title {
	padding-top: 18px;
	margin-bottom: 10px;
}

.goods_right .title span {
	font-size: 12px;
	color: #737878;
}

.goods_right .tab {
	background-color: #27a9e3;
	color: #fff;
	font-size: 16px;
	padding: 7px 0px;
	width: 100px;
	text-align: center;
}

.goods_right .line {
	height: 3px;
	background-color: #27a9e3;
}

.table-bordered>tbody>tr>th {
	background-color: #f5f5f5;
	border: none;
}

.goods_right .form td.name {
	text-align: right;
	width: 20%;
	font-size: 13px;
	color: #000;
}

.goods_right .form td>span {
	color: #ff3947;
}

.goods_right .form .select {
	width: 140px;
	margin-bottom: 12px;
	float: left;
	margin-right: 5px;
}

.goods_right .form .goods_name {
	width: 423px;
	margin-bottom: 12px;
}

.goods_right .form td p {
	color: #bdbbbb;
	font-size: 12px;
}

.goods_right .form td textarea {
	max-width: 423px;
	margin-bottom: 12px;
}

.goods_right .form td .money {
	width: 167px;
	margin-bottom: 12px;
}

.goods_right .form td .money input,
.goods_right .form td .money div {
	border-radius: 0;
}

.goods_right .form td p.first {
	margin-bottom: 5px;
}

.goods_right .form td .discount {
	width: 167px;
	margin-bottom: 12px;
}

.goods_right .form td .input {
	width: 220px;
	margin-bottom: 12px;
}

.goods_right .form td .pic_box {
	min-height: 160px;
	margin-bottom: 5px;
}

.goods_right .form td .pic_box img {
	max-width: 100%;
}

.goods_right .form td .pic_btn #fbtn {
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
}

.goods_right .form td .pic_btn #pbtn {
	width: 90px;
}

.goods_right .form td .pic_btn i.arrow_up {
	position: absolute;
	top: 5px;
	left: 4px;
	font-size: #000;
}

.preview .delete {
	position: absolute;
	right: 0;
	top: 0;
	z-index: 10;
	color: #FFFFFF;
	padding: 2px;
	font-weight: 100;
	background-color: rgba(0, 0, 0, 0.7);
}

.preview {
	min-height: 160px;
}

.preview .img {
	height: 160px;
	width: 160px;
	border: 1px solid #EEEEEE;
}

.preview .img img {
	max-width: 100%;
}

.preview .img,
.pic_add {
	margin: 3px;
}

.goods_right .form td .pic_add {
	width: 160px;
	height: 160px;
	border: 1px solid #eeeeee;
	text-align: center;
	margin-bottom: 5px;
	cursor: pointer;
}

.goods_right .form td .pic_add h1 {
	font-size: 190px;
	line-height: 160px;
	font-weight: 400;
	margin: 0;
}

.goods_right .form td .pic_add input {
	width: 160px;
	height: 160px;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	z-index: 2;
	cursor: pointer;
}

.goods_right .form td .address {
	width: 220px;
}

.goods_right .form td .freight {
	width: 163px;
}

.goods_right .form td .freight input {
	border-radius: 0;
}

.goods_right .submit {
	display: block;
	width: 100px;
	margin: 0 auto 20px;
	border-radius: 0;
	background-color: #5bb75b;
	border: 1px solid #448944;
}

.Validform_checktip {
	margin-left: 8px;
	line-height: 20px;
	height: 20px;
	overflow: hidden;
	color: #999;
	font-size: 12px;
	position: absolute;
	top: 15px;
	left: 440px;
}

#name .Validform_checktip {
	left: 250px;
	top: 8px;
	width: 300px;
}

.goods_right .form td span.Validform_right {
	color: green;
}


/*.Validform_wrong{
	color:red;
	padding-left:20px;
	white-space:nowrap;
	background:url(../images/error.png) no-repeat left center;
}*/

.Validform_loading {
	padding-left: 20px;
	background: url(../images/onLoad.gif) no-repeat left center;
}

.Validform_error {
	background-color: #ffe7e7;
}

#Validform_msg {
	color: #7d8289;
	font: 12px/1.5 tahoma, arial, \5b8b\4f53, sans-serif;
	width: 280px;
	-webkit-box-shadow: 2px 2px 3px #aaa;
	-moz-box-shadow: 2px 2px 3px #aaa;
	background: #fff;
	position: absolute;
	top: 0px;
	right: 50px;
	z-index: 99999;
	display: none;
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color='#999999');
}

#Validform_msg .iframe {
	position: absolute;
	left: 0px;
	top: -1px;
	z-index: -1;
}

#Validform_msg .Validform_title {
	line-height: 25px;
	height: 25px;
	text-align: left;
	font-weight: bold;
	padding: 0 8px;
	color: #fff;
	position: relative;
	background-color: #000;
}

#Validform_msg a.Validform_close:link,
#Validform_msg a.Validform_close:visited {
	line-height: 22px;
	position: absolute;
	right: 8px;
	top: 0px;
	color: #fff;
	text-decoration: none;
}

#Validform_msg a.Validform_close:hover {
	color: #cc0;
}

#Validform_msg .Validform_info {
	padding: 8px;
	border: 1px solid #000;
	border-top: none;
	text-align: left;
}

.form td {
	position: relative;
}

.w-e-text-container {
	min-height: 1000px;
}