@charset "utf-8";
body{
	background-color: #f9f9f9;
}
.container{
	width: 1180px;
}
.goods_left{
	text-align: center;
	padding: 0;
	height: 100%;
}
.goods_right{
	background-color:#fff;
	border-left: 1px solid #cccccc;
	height: 100%;
	box-shadow: -6px 0px 6px -1px rgba(3,3,3,0.1);
}
.goods_left .box{
	margin: 10px 0 20px;
	width: 110px;
	height: 110px;
	text-align: center;
	display: inline-block;
	border: 1px solid #dddddd;
	border-radius: 16px;
	box-shadow: 0px 0px 3px 4px rgba(3,3,3,0.1);
}
.goods_left .box img{
	display: block;
	padding: 10px 0 5px;
	margin: 0 auto;
}
.goods_left ul{
	margin: 0;
	padding: 0;
	font-size: 14px;
	list-style: none;
}
.goods_left ul li a{
	height: 34px;
	line-height: 34px;
	text-align: center;
	color: #737878;
	width: 100%;
	margin: 1px 0;
	display: block;
	border-left: 4px solid #f9f9f9;
}
.goods_left ul li a.active{
	border-bottom: 1px solid #cccccc;
	border-top: 1px solid #cccccc;
	border-left: 4px solid #27a9e3;
	background-color: #fff;
}
.goods_left ul li a:hover{
	text-decoration: none;
	border-bottom: 1px solid #cccccc;
	border-top: 1px solid #cccccc;
	border-left: 4px solid #27a9e3;
	background-color: #fff;
}
.goods_right .title{
	padding-top: 18px;
	margin-bottom: 10px;
}
.goods_right .title span{
	font-size: 12px;
	color: #737878;
}
th{
	text-align: center;
}
.goods_right tbody td .pic{
	padding: 14px 14px 10px 8px;
}
.goods_right tbody td .info{
	text-align: left;
	padding-top: 12px;
}
.goods_right tbody td .info p{
	margin-bottom:0 ;
	color: #737878;
	font-size: 12px;
}
.goods_right tbody td.other{
	text-align: center;
	padding-top: 20px;
}
.goods_right tbody td.operation{
	padding-left: 36px;
	padding-top: 15px;
	font-size: 12px;	
}
.goods_right tbody td.operation .edit,
.goods_right tbody td.operation .del{
	cursor: pointer;
}
.goods_right tbody td.operation p{
	font-size: 12px;
	color: #737878;
}
.goods_right tbody td.operation div{
	text-align: center;
	display: inline-block;
}
.goods_right tbody td.operation .line{
	width: 1px;
	height: 35px;
	background-color: #e6e6e6;
	margin: 0 5px;
}
